Source: edgetpuvision
Maintainer: AIY Projects <support-aiyprojects@google.com>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://aiyprojects.withgoogle.com/

Package: python3-edgetpuvision
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         imx-gst1.0-plugin,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-ugly,
         python3-numpy,
         python3-protobuf,
         python3-pil,
         python3-gi,
         python3-gst-1.0,
         python3-edgetpu,
         weston-imx
Description: EdgeTPU camera API
 API to run inference on image data coming from the camera.

